@import '../theme';
@import '../mixins';

.game-detail {
  display: flex;
  flex-direction: row;
  // height: 350px;

  padding: 10px;

  @include mobile-portrait {
    flex-direction: column;
    padding: 10px 10px 100px 10px;
    height: 100%;
  }

  .game-poster {
    width: auto;
    max-width: 400px;
    height: 350px;

    margin-right: 25px;
    margin-bottom: 0;

    @include mobile-portrait {
      margin-bottom: 15px;
      margin-right: 0;
    }
  }

  .game-title {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .game-description {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .stores {
    margin: 20px 0;
  }

  .store-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .store {
    padding: 12px 24px;
    border: 1px solid $text-main;
    border-radius: 5px;
    margin: 0 6px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
