@import '../theme/theme';
@import '../mixins';

.store-link {
  @include withAccentColor {
    color: $accentColor;
    border: 1px solid $accentColor;
  }
  text-decoration: none;

  border-radius: 4px;

  padding: 6px 12px;

  margin-top: 10px;
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }

  svg {
    padding-right: 6px;
  }
}
