{
   "parser": "babel-eslint",
   "env": {
      "browser": true,
      "es6": true
   },
   "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
         "jsx": true
      }
   },
   "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:prettier/recommended"
   ],
   "plugins": ["react", "prettier"],
   "settings": {
      "react": {
         "createClass": "createReactClass",
         "pragma": "React",
         "version": "16.2",
         "flowVersion": "0.67.1"
      },
      "propWrapperFunctions": ["forbidExtraProps"]
   },
   "globals": {
      "Promise": false,
      "process": false
   },
   "rules": {
      "no-console": "off"
     }
}
