@import '../theme';
@import '../mixins';

.login {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 48px;
}

.login-form {
  display: flex;
  flex-direction: column;

  div {
    margin-bottom: 12px;

    &:last-of-type {
      margin-bottom: 24px;
    }
  }
}
