$blue: #00a1ff;
$green: #2ff95b;
$red: #ff3f26;
$orange: #ff9d00;
$purple: #c300ff;

$facebook-blue: #4267b2;

$text-main: #efefef;
$text-darker: darken($text-main, 25);
$background: #1d1d1d;
$background-lighter: lighten($background, 10);
$background-darker: darken($background, 3);

$accentColors: (
  blue: $blue,
  green: $green,
  red: $red,
  orange: $orange,
  purple: $purple
) !global;

// bootstrap variables
$colors: (
  'blue': $blue,
  'green': $green,
  'red': $red,
  'orange': $orange,
  'purple': $purple
);

$body-bg: $background;
$body-color: $text-main;

$modal-content-bg: $background;
$close-color: $text-main;

$native-font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$font-family-sans-serif: 'Fira Sans', $native-font-stack;

$list-group-bg: $background;
$list-group-border-color: rgba($text-main, 0.125);
