@import 'theme';
$colors: (
  'blue': $blue,
  'green': $green,
  'red': $red,
  'orange': $orange,
  'purple': $purple
);

$body-bg: $background;
$body-color: $text-main;

$modal-content-bg: $background;
$close-color: $text-main;

$theme-colors: (
  'primary': $blue
);

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
