@import '../../theme/theme';
// @import '../../media';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.user-list {
  max-width: 720px;

  padding: 0;
}

.user-row {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  padding: 12px 6px;
}

.info-row {
  display: flex;
  flex-direction: column;

  margin-bottom: 4px;
  .row-label {
    font-size: 14px;
    color: $text-darker;
  }
}

.user-actions-container {
  margin-top: 12px;
  @include media-breakpoint-up(md) {
    margin-left: 36px;
  }

  button {
    width: 100%;
  }
}
