@import '../../theme';
@import '../../media';

.user-list {
  max-width: 720px;

  list-style: none;
  padding: 0;
}

.user-row {
  display: flex;
  flex-direction: column;

  @include desktop-md-and-up {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  padding: 12px 6px;
  border-bottom: 1px solid $text-main;

  &:last-child {
    border-bottom: none;
  }
}

.user-info-container {
}

.info-row {
  display: flex;
  flex-direction: column;

  margin-bottom: 4px;
  .row-label {
    font-size: 14px;
    color: $text-darker;
  }
}

.user-actions-container {
  margin-top: 12px;
  @include desktop-md-and-up {
    margin-left: 36px;
  }

  button {
    width: 100%;
  }
}
