@import '../theme/theme';
@import '../mixins';
@import '../media';

.group-header {
  color: $text-main;

  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.previews-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 6px;

  @include small-and-up {
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 12px;
  }

  @include medium-and-up {
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap: 12px;
  }

  // @include small-desktop {
  //   grid-template-columns: repeat(6, 1fr);
  //   grid-column-gap: 6px;
  // }
  //
  // @include mobile-landscape {
  //   grid-template-columns: repeat(6, 1fr);
  //   grid-column-gap: 6px;
  // }
  //
  // @include mobile-portrait {
  //   grid-template-columns: 1fr 1fr 1fr;
  //   grid-column-gap: 6px;
  // }
}
