@import '../theme';
@import '../mixins';
@import '../media';

.game-preview {
  grid-column: auto / span 3;

  margin-bottom: 24px;

  .preview-info {
    display: flex;
    flex-direction: column;
    @include large-and-up {
      flex-direction: row;
    }
  }

  .preview-cover {
    flex: 1 1 300px;

    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: $background-darker;
    border-radius: 5px;

    margin-bottom: 12px;

    img {
      max-height: 300px;

      flex: 0 0;
    }

    @include large-and-up {
      flex: 0 0 225px;
      margin-right: 24px;
      img {
        max-height: 300px;

        flex: 0 0;
      }
    }
  }

  .active-month {
    font-size: 20px;
    font-weight: 600;

    margin-bottom: 6px;
  }

  .game-title {
    font-size: 18px;

    margin-bottom: 6px;
  }

  .icons-container {
    margin-top: 6px;
    font-size: 20px;

    @include withAccentColor {
      color: $accentColor;
    }
  }

  .icon {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }
}
