@import '../theme';
@import '../mixins';

.btn {
  padding: 12px 18px;

  border-radius: 5px;
}

.fill-button {
  border: none;
  color: white;

  @include withAccentColor {
    background-color: $accentColor;
  }

  &.disabled {
    background-color: $text-darker;
    cursor: default;
  }
}

.outline-button {
  @include withAccentColor {
    border: 1px solid $accentColor;
    color: $accentColor;
  }

  background-color: transparent;

  &.disabled {
    border: 1px solid $text-darker;
    color: $text-darker;
    cursor: default;
  }
}

@each $colorName, $color in $accentColors {
  .#{$colorName}-fill-button {
    background-color: $color;
  }

  .#{$colorName}-outline-button {
    border: 1px solid $color;
    color: $color;
  }
}
