@import '../theme';
@import '../mixins';

.btn {
  padding: 12px 18px;

  border: none;
  border-radius: 5px;
  color: white;

  @include withAccentColor {
    background-color: $accentColor;
  }

  &.disabled {
    background-color: $text-darker;
    cursor: default;
  }
}

.btn.blue-button {
  background-color: $blue;
  &.disabled {
    background-color: $text-darker;
    cursor: default;
  }
}

.btn.green-button {
  background-color: $green;
  &.disabled {
    background-color: $text-darker;
    cursor: default;
  }
}

.btn.red-button {
  background-color: $red;
  &.disabled {
    background-color: $text-darker;
    cursor: default;
  }
}

.btn.orange-button {
  background-color: $orange;
  &.disabled {
    background-color: $text-darker;
    cursor: default;
  }
}

.btn.purple-button {
  background-color: $purple;
  &.disabled {
    background-color: $text-darker;
    cursor: default;
  }
}
