@import "../theme";
@import "../media";

.header {
  padding: 16px 0 0 10px;

  color: $text-main;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media(min-width: $mobile) {
    padding: 16px 0 0 24px;
    flex-wrap: nowrap
  }

  h1 {
    margin: 0;
    font-size: 1.5rem;
  }
}

.user-container {
  margin-top: 12px;

  @media(min-width: $mobile) {
    margin-top: 0;
    margin-right: 24px;
  }

  .user-name {
    margin-right: 12px;
  }
}

.logout-link {
  cursor: pointer;
}
