@import '../theme';
@import '../mixins';

.header {
  color: $text-main;

  display: flex;
  justify-content: space-between;
  padding: 24px 24px 0 24px;
  flex-wrap: nowrap;

  @include withAccentColor {
    @include gradientBackground($accentColor);
  }

  @include mobile-portrait {
    flex-wrap: wrap;
    padding: 32px 24px 0 24px;
  }
  @include mobile-landscape {
    flex-wrap: wrap;
    padding: 32px calc(10px + env(safe-area-inset-right)) 0 calc(10px + env(safe-area-inset-left));
  }

  h1 {
    margin: 0;
    font-size: 1.5rem;
  }
}

.user-container {
  margin-top: 0;
  @include mobile-portrait {
    margin-top: 12px;
  }

  .user-name {
    margin-right: 12px;
  }
}

.logout-link {
  cursor: pointer;
}
