@import '../theme';

.input-wrapper {
  display: flex;
  flex-direction: column;

  width: 350px;

  input {
    border-radius: 3px;
    line-height: 2;

    border-style: solid;

    padding: 0 3px;

    &[disabled] {
      background-color: $text-darker;
    }
  }

  label {
    margin-bottom: 6px;
    color: $text-darker;
    font-size: 14px;
  }
}
