// $mobile-width-portrait: 470px;
// $mobile-width-landscape: 815px;
// $small-desktop: 925px;

$xsmall-min: 320px;
$small-min: 451px;
$medium-min: 769px;
$large-min: 1225px;

@mixin small-and-up {
  @media (min-width: $small-min) {
    @content;
  }
}

@mixin medium-and-up {
  @media (min-width: $medium-min) {
    @content;
  }
}

@mixin large-and-up {
  @media (min-width: $large-min) {
    @content;
  }
}
