$blue: #00A1FF;
$green: #2FF95B;
$red: #FF3F26;
$orange: #FF9D00;
$purple: #C300FF;

$facebook-blue: #4267b2;

$text-main: #efefef;
$background: #1d1d1d;
$background-lighter: lighten($background, 10);
