$blue: #00a1ff;
$green: #2ff95b;
$red: #ff3f26;
$orange: #ff9d00;
$purple: #c300ff;

$facebook-blue: #4267b2;

$text-main: #efefef;
$text-darker: darken($text-main, 25);
$background: #1d1d1d;
$background-lighter: lighten($background, 10);
$background-darker: darken($background, 3);

$accentColors: (
  blue: $blue,
  green: $green,
  red: $red,
  orange: $orange,
  purple: $purple,
  facebook-blue: $facebook-blue
) !global;
