@import './theme';
@import './mixins';

.app {
  width: 100vw;
  min-height: 100vh;

  background-color: $background;
  color: $text-main;
}

.content-wrapper {
  margin: 50px 50px 0 50px;
  height: 100%;

  @include mobile-landscape {
    margin: 5px calc(10px + env(safe-area-inset-right)) 0 calc(10px + env(safe-area-inset-left));
  }
  @include mobile-portrait {
    margin: 15px calc(20px + env(safe-area-inset-right)) env(safe-area-inset-bottom)
      calc(20px + env(safe-area-inset-left));
  }

  @include small-desktop {
    margin: 25px 25px 0 25px;
  }
}
