@import './theme';
@import './media';

.app {
  width: 100vw;
  min-height: 100vh;

  background-color: $background;
  color: $text-main;
}

.content-wrapper {
  margin: 50px 150px 0 50px;

  @media (max-width: $small-desktop) {
    margin: 5px 10px 0 10px;
  }
  @media (max-width: $mobile) {
    margin: 15px 20px 0 20px;
  }
}
