@import './theme';
@import './media';

.app {
  width: 100vw;
  min-height: 100vh;

  background-color: $background;
  color: $text-main;
}

.content-wrapper {
  margin: 5px 10px 0 5px;

  @media (min-width: $mobile) {
    margin: 15px 30px 0 15px;
  }

  @media (min-width: $small-desktop) {
    margin: 50px 150px 0 50px;
  }
}
