@import 'theme';

$colors: (
  $blue: $blue,
  $green: $green,
  $red: $red,
  $orange: $orange,
  $purple: $purple
);

$body-bg: $background;
$body-color: $text-main;

$theme-colors: (
  $blue: $blue,
  $green: $green,
  $red: $red,
  $orange: $orange,
  $purple: $purple
);

@import '~bootstrap/scss/bootstrap.scss';
