@import '../theme/theme';
@import '../media';

.signup-wrapper {
  display: flex;
  justify-content: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;

  input {
    margin-bottom: 12px;
  }
}

.code-wrapper {
  display: flex;
  justify-content: center;

  margin-bottom: 42px;

  @include large-and-up {
    margin-bottom: 72px;
  }
}

.code-form-wrapper {
  width: 100%;
  max-width: 400px;
}
