@import '../theme';

.signup-wrapper {
  display: flex;
  justify-content: center;
}

.signup-form {
  display: flex;
  flex-direction: column;

  input {
    margin-bottom: 12px;
  }
}

.error-container {
  min-height: 30px;
  display: flex;
  align-items: center;

  margin-bottom: 12px;

  color: $red;
}

.code-wrapper {
  display: flex;
  justify-content: center;

  margin-bottom: 72px;
}
